# Count or Frequency Encoding

### High cardinality

In [5]:
# Mercedes Benz Data set

import pandas as pd
import numpy as np

# only the categorical variables
df = pd.read_csv('train.csv',usecols = ['X1','X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [6]:
df.shape

(4209, 2)

In [7]:
## one hot encoding

pd.get_dummies(df).shape ## 71 columns are added

(4209, 71)

In [8]:
len(df['X1'].unique())

27

In [9]:
len(df['X2'].unique())

44

In [16]:
for col in df.columns[0:]:
    print(col,':',len(df[col].unique()),'labels')

X1 : 27 labels
X2 : 44 labels

In [19]:
# let's obtain the counts for each one of the labels in variable X2
# let's capture this in a dictionary that we can use to re-map the labels

df.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'y': 11,
 'ap': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'q': 5,
 'an': 5,
 'al': 5,
 'ah': 4,
 'p': 4,
 'av': 4,
 'au': 3,
 'af': 1,
 'aa': 1,
 'j': 1,
 'l': 1,
 'o': 1,
 'c': 1,
 'ar': 1,
 'am': 1}

In [22]:
# And now let's replace each label in X2 by its count

# first we make a dictionary that maps each label to the counts
df_frequency_map = df.X2.value_counts().to_dict()

In [25]:
df.X2.head(100)

0        6
1        4
2      137
3      137
4      137
      ...
95     367
96    1659
97    1659
98     367
99     367
Name: X2, Length: 100, dtype: int64

In [23]:
# and now replace the X2 labels in the dataset df

df.X2 = df.X2.map(df_frequency_map)
df.head(100)

    X1    X2
0    v     6
1    t     4
2    w   137
3    t   137
4    v   137
..  ..   ...
95   b   367
96   l  1659
97  aa  1659
98   b   367
99   s   367

[100 rows x 2 columns]